@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Montserrat:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Raleway:ital,wght@1,300&display=swap');

.video{
	margin: auto 10px;
	width: 940px;
	height: 660px;
	background: black;
	border-radius: 20px;
	
}

.video iframe{
	width: 100%;
	height: 100%;
	padding: 20px;
	
}

.discr{
	width: 640px;
	height: 660px;
	background: #1db954;
		margin: auto 10px;
padding: 15px;
	border-radius: 20px;
	

	
}

.wrapper{
	margin: 20px;
	display: flex;
    justify-content: center;
	
}

.body{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px ;
}

.image{
	width: 200px;
	height: 295px;
	margin: 0px 10px;
	border-radius: 5px;
	
}

.image{
	width: 200px;
	height: 295px;
	margin: 0px 10px;
	border-radius: 5px;
	background: #191414;
	
}

.banner{
	width: 196px;
	height: 290px;
	border-radius: 5px;
	margin: 2px;
	
}

.info{
	width: 300px;
	height: 295px;
	background: #191414;
	margin: 0px 10px;
	border-radius: 20px;
	padding: 4px;
	
}

.d1{
	display: flex;
	justify-content: center;
	margin: 10px auto;
	
}

.d2{
	width: 500px;
	height: 300px;
	margin: 10px auto;
	
	overflow-x:hidden;
	
	display: flex;
	justify-content: center;
	background: #191414;
	border-radius: 20px;
	padding: 4px;
	
}

.dtext{
	word-wrap: break-word;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	padding: 0px 10px;
}

h1, h3{
		overflow-wrap: break-word;
		color: white;
		font-size: small;
		padding: 0px 10px;
		
}



h1{

	font-family: 'Noto Sans Display', sans-serif;
	
	font-size: 30px !important;
}

h3{
	font-size: 15px !important;
	
}

html{
	height: 100%;
	width: 100%;
}




	